.newProfile {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 75vw;
  text-align: left;
  align-items: center;

  h1 {
    font-size: 3em;
    font-weight: bold;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 75vw;
    section {
      margin-left: 2em;
      margin-right: 2em;
    }
  }
}
